@charset "utf-8";

/*
   Author: Jeff Scott
   Date: 04Oct20202020

*/

/*  Base layout used by mobile devices.
	Applies to larger devices unless superceded.*/

html {
	height: 100%;
	font-size: 12px;
}

header h1 {
   font-size: 1.0em;
   color: rgb(0, 0, 153);
}

body {
	margin-left: auto;
	margin-right: auto;
	width: 81.9%;
	padding-left: 4.55%;
	padding-right: 4.55%;
	clear: none;
	float: none;
	min-height: 100%;
	background-color: rgb(252, 235, 182);
}
nav {
	width: 25%;
	float: left;
	margin: 6% 2% 0% 0%;
}
article {
	width: 73%;
	float: left;
	font-size: 0.8em;
	text-align: justify;
}
article img {
	float: left;
	width: 2%;
	margin: 0% 1% 0% 0%;
}
a:link {
  color: orange;
}

a:hover {
  color: hotpink;
}
nav ul li {
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 1.0em;
}

nav ul li a {
	color: #222;
	background-color: orange;
	text-decoration: none;
	display: block;
	margin-bottom: 8%;
}

nav ul li a:hover {
	background-color: rgb(253,202,0);
	color: white;
}

#locations li#locationslink a {
   color: black;
   background-color: hotpink;
}

body h1 {
	margin: 0;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 1.0em;
	color: rgb(183, 110, 121);
}

h1 {
   font-size: 1.0em;
   text-align: left;
   color: rgb(183, 110, 121);
}
h2 {
	font-size: 1.0em;
	font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: left;
	color: rgb(183, 110, 121);
}
header img {
	float: none;
	width: 96%;
	margin: 2% 2% 0% 2%;
}
body p, body address {
	margin: 3.5% 1%;
	font-size: 1em;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-style: normal;
	height: 100%;
}
dl {
	margin-left: 2%;
	font-family: Brush Script MT, Brush Script Std, cursive;
}
dt {
	display: block;
	margin: 0;
	text-indent: 0;
	font-weight: bold;
	border-bottom: 3px solid rgba(168, 168, 168,1.00);
}
dd {
	display: block;
	margin: 0 0 3% 3%;
	text-indent: 0;
}
div {
	margin: 2% 4%;
}


p {
	color: rgb(183, 110, 121);
	
}	

footer {
	text-align: Left;
	font-size: 0.6em;
	color: rgb(183, 110, 121);
	margin-top: 4%;
	border-top: 3px solid rgba(183,110,121,1.00);
	font-family: Brush Script MT, Brush Script Std, cursive;
	clear: both;
	padding-bottom: 20px;
}


/*  Tablet layout styles used by devices
	481px to 768px. Applies to larger devices 
	unless superceded.*/


@media only screen and (min-width: 481px) {
html, body {
	font-size: 16px;
}

body {
	width: 89.9%;
	padding-left: 1.55%;
	padding-right: 1.55%;
	clear: none;
	float: none;
	margin-left: auto;
}

header h1 {
   font-size: 1.75em;
   color: rgb(183, 110, 121);
}

body article h1 {
   font-size: 1.75em;
   text-align: left;
   color: rgb(183, 110, 121);
}

article {
	width: 94%;
	float: none;
	margin: 0px auto;
}

article img {
	float: left;
	width: 2%;
	margin: 0% 1% 0% 0%;
}
nav ul li {
	display: table-cell;
	width: 15%;
	text-align: center;
	margin-right: 2%;
	border: 2px solid rgb(0,0,0);
	border-collapse: collapse;
	

}
nav ul li a {
	margin-bottom: 0;
}
nav {
	display: table;
	width: 96%;
	margin: 0 auto;
	float: none;
}
nav ul {
	display: table-row;
	margin: 0;
}
nav ul li:last-of-type {
	margin-right: 0%;
}
p {
	color: rgb(183, 110, 121);
}	

footer {
	font-size: 0.9em;
}
}

/* Desktop layout styles.*/

@media only screen and (min-width: 769px) {
html, body {
	font-size: 20px;
}

html {
	margin: 0px auto;
}
body {
	width: 100%;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: 0px auto auto auto;
	clear: none;
	float: none;
	background-color: rgb(252, 235, 182);
	
}
body h1 {
	margin: 10px 40px;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 2.2em;
	color: rgb(183, 110, 121);
}

h2 {
	margin: 10px 40px;
	font-size: 2em;
    text-align: left;
	color: rgb(183, 110, 121);
}
nav ul li {
	font-size: 1.5em;

}






body p, body address {
	margin: 5px 0px;
	font-size: 1.5em;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-style: normal;
	height: 100%;
}

article img {
	float: left;
	width: 2%;
	margin: 0% 1% 0% 0%;
}
footer {
	font-size: 2.5em;
	margin-left: 40px;
}

}
